*\.pyc
__pycache__
*.txt
*.out
*.pt
*.wandb
*.err
*.pwo
*.out
*.cif
*.tar.gz
*.png
*.pwi
*.upf
*.UPF
*.mix1
*.wfc1
*.hdf5
*.xml
*.yaml
*.json
*.pkl
models
generated_crys
crystal_design/runner/wandb
crystal_design/offline/script
runner/error
runner/output
crystal_design/offline/new_calculations
crystal_design/offline/cifs
crystal_design/offline/cifs_nm
