*\.pyc
__pycache__
*.txt
*.out
*.pt
*.wandb
*.err
*.pwo
*.out
*.cif
*.tar.gz
*.pwi
*.upf
*.UPF
*.mix1
*.wfc1
*.hdf5
*.xml
*.yaml
*.json
*.pkl
*.pt.tar.gz
runner/error
runner/eval_error
runner/eval_output
runner/script
runner/eval_script
runner/train_generated
runner/val_generated
runner/wandb
runner/launcher.sh
runner/output
offline/new_calculations
offline/cifs*
offline/plots
offline/change_reward.py
offline/*.pkl
wandb
models
